
<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/videos_form' %>
      </section>
      <section>
        <%= render 'shared/comment_form' %>
      </section>
          <div class="span8">
      		<h3>The Feed</h3>
      		<%= render 'shared/feed' %>
    	  </div>
    </aside>
  </div>

<iframe width="560" height="315" src="//www.youtube.com/embed/XV23YoD7J1c" frameborder="0" allowfullscreen></iframe>

<% else %>

<!-- <h1>You don't need to go pro to make money off of playing League of Legends.</h1> -->
<div class="super-container">
  <p></p>
  <div class="row">
	  <h1 class="span12-center container-fluid">You don't need to go pro to make money off of playing League of Legends.</h1>
  </div>
	  <ul>
	   <li>Record a short video of you doing something awesome in League of Legends on youtube</li>
	   <li>Upload your video on our site and prove that you are in it.</li>
	   <li>Enter it in our daily,weekly, and monthly "Best of" competitions</li>
	   <li>We give the power to the people and allow them to vote on the winner</li>
	   <li>Win money or just play for Fun!</li>
		</ul>

		<h3>We've got you covered</h3>
		<p>Let our qualified team review videos and users to make sure they're not stealing or faking accounts to buff votes</p>

	  <a href="leagueoflegends.com">League of Legends</a>
	  <p></p>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large" %>
  <p></p>
  <h2>All posters and voters will need to prove that they havea valid League of Legends account with level 15 or higher. Don't worry. We'll never ask you for your League of Legends account password, but you will need to verify your LoL email.</h2>

</div>
<% end %>

