
<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/videos_form' %>
      </section>
      <section>
        <%= render 'shared/comment_form' %>
      </section>
          <div class="span8">
      		<h3>The Feed</h3>
      		<%= render 'shared/feed' %>
    	  </div>
    </aside>
  </div>

<iframe width="560" height="315" src="//www.youtube.com/embed/XV23YoD7J1c" frameborder="0" allowfullscreen></iframe>

<% else %>

<!-- <h1>You don't need to go pro to make money off of playing League of Legends.</h1> -->
<div class="super-container">
  <p></p>
  <div class="row-center">
	  <h1 class="span12-center container-fluid">You don't need to go pro to make money off of playing League of Legends</h1>
  </div>
 <div class="row-center ">
  <div class="span3 plan float-up first box">
   <h2>Record</h2>
   Record yourself playing League of Legends and link it to our site</div>
  <div class="span3 plan float-up second box">
   <h2>Vote</h2>
   Vote to choose which video will win</div>
  <div class="span3 plan float-up third box">
   <h2>Take the Pot</h2>
   Winner takes all
   </div>
  </div>
  <div class="row span8">
		<h3>We've got you covered</h3>
		<p>Let our qualified team review videos and users to make sure they're not stealing or faking accounts to buff votes</p>
  </div>

  <div class="row span8">
	  <a href="leagueoflegends.com">League of Legends</a>
	  <p></p>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large" %>
  <p></p>
  <h2>All posters and voters will need to prove that they havea valid League of Legends account with level 15 or higher. Don't worry. We'll never ask you for your League of Legends account password, but you will need to verify your LoL email.</h2>
  </div>
</div>
<% end %>

