
<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/videos_form' %>
      </section>
      <section>
        <%= render 'shared/comment_form' %>
      </section>
          <div class="span8">
      		<h3>The Feed</h3>
      		<%= render 'shared/feed' %>
    	  </div>
    </aside>
  </div>


<% else %>

<div class="super-container">
  <p></p>
 <div class="row centerme">
  <div class="container">
    <div class="span3 plan float-up first box">
      <h2>Record Yourself on Youtube playing League of Legends</h2>
      Show the world some awesome stuff you did in a game
    </div>
    <div class="span3 plan float-up second box">
     <h2>Vote</h2>
     You choose which video will win</div>
    <div class="span3 plan float-up third box">
     <h2>Win Money</h2>
     The winner gets all of the money submitted to enter the competition. The more people who enter, the more money a contestant can win.
     </div>
  </div>
  </div>
  <div class="row span12">
    <h2>See who's talking about us</h2>
    <div class="talking-about-us">
      <div class="container">
      <span class="span3-center lolnexus" style="text-align: center"><%= image_tag "lolnexus-main.png", :align=> "middle" %></span>
      <span class="span3-center mobafire" style="text-align: center"><%= image_tag "mobafire_logo.png", :align=> "middle" %></span>
      <span class="span3-center elophant" style="text-align: center"><%= image_tag "elophant_logo.png", :align=> "middle" %></span>
    </div>
      </div>
    </div>
    <div class="centered">
     <%= link_to "Sign up now!", signup_path, class: "btn btn-large" %>
   </div>
  </div>
 
  <div class="span4 text-center">
    <span class="icon-stack icon-4x">
      <i class="icon-lock icon-light"></i>
    </span>
  </div>
  <div class="row span8 no-margin">
		<h3>We've got you covered</h3>
		<p>Let our qualified team review videos and users to make sure they're not stealing or faking accounts to buff votes</p>
  </div>

  <div class="row span8">
	  <a href="leagueoflegends.com">League of Legends</a>
	  <p></p>
	
  <p></p>
  <h2 class="centered">All posters and voters will need to prove that they have a valid League of Legends account with level 15 or higher. Don't worry. We'll never ask you for your League of Legends account password, but you will need to verify your LoL email.</h2>
  </div>
</div>
<% end %>

