<% provide(:title, @user.name) %>
	<div class="row">
	  <aside class="span4">
	    <section>
	      <h1>
	        <%= gravatar_for @user %>
	        <%= @user.name %>
	      </h1>
	    </section>
	  </aside>
	  <div class="span8">
		  	<h3>Videos (<%= @user.videos.count %>)</h3>
		  	<ol class="videos">
		  		<%= render @videos %>
		  	</ol>
		  	<%= will_paginate @videos %>
	  </div>
	</div>